$one__light: #FFF !default;
$one__primary: #097275 !default;
$one__primary-dark: #097275 !important;
$one__border-light: #097275 !important;

.btn-primary {
    color: #fff !important;
    background-color: #097275 !important;
    border-color: #097275 !important;
    }
.o_user_switch_btn {
    color:#097275 !important;
    }

.oe_login_buttons > button.btn-link{
    color:#097275 !important;
    }
.fa-user-circle-o{
    color:#097275 !important;
    }
.oe_login_form > button > span {
    color:#097275 !important;
    }
a{
    color:#097275 !important;
    }
.btn-fill-primary > button .btn-primary {
    background-color: #097275 !important;
    }